.form-date-dropdown {
    width: 100%;
    background: url(../block/form-date-dropdown/expand_more.png) no-repeat 90% 50%;
    cursor: pointer;
    margin-top: 5px;
}



@import './form-date-dropdown__container.scss';
@import './form-date-dropdown__right.scss';