.form-elems__center {
    width: 320px;
    margin-right: 72px;   
}
.form-elems__radio-btn {
    margin: 40.88px 0 36.56px;
}
.form-elems__toggle-wrap {
    margin-bottom: 10px;
}
.form-elems__like-btn {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
.form-elems__title {
    font-family: $montserrat--bold;
    font-size: $fsz--h3;
    text-transform: uppercase;
    color: $dark-shade--100;
    margin-bottom: 16px;
}
.form-elems__like-btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 89.72px;
}
.form-elems__rate-wrap {
    display: flex;
    justify-content: space-between;
    width: 260px;
}
.form-elems__dropdown-center {
    margin: 196px 0 257px;
}