.form-elems__left {
    max-width: 320px;
    margin-right: 126px;
}
.form-elems__form-hover {
    margin: 20px 0;
}
.form-elems__date {
    margin: 22.56px 0 40px;
}
.form-elems__filter-date-dropdown {
    margin: 40px 0;
}
.form-elems__subscrip {
    width: 267px;
}
.form-elems__room-filter {
    margin: 100px 0 20px;
}

.form-elems__checkbox-list {
    margin-top: 173px;
    margin-bottom: 20px;
}

.form-elems__room__info {
    margin-top: 40px;
}