.form-elems__right {
    max-width: 320px;
}

.form-elems__btns {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 25px 0 40px;
    @media screen and(max-width: 1400px) {
        min-width: 305px;
    }
}
.form-elems__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    z-index: 1;
    width: 218px;
    height: 118px;
    margin-bottom: 31px;
}
.form-elems__btn-link {
    display: flex;
    justify-content: space-between;
    width: 142px;
    margin-bottom: 30px;
}
.form-elems__dropdown-right {
    margin: 230px 0 257px;
}
.form-elems__room-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.form-elems__feedback {
    margin-top: 10px;
}