@import './_left';
@import './_center';
@import './_right';

.form-elems__header {
    background: #FFFFFF;
    padding-top: 30px;
    padding-left: 30px;
}
.form-elems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 62px 141px 132px;
    @media(max-width: 800px) {
        padding: 5px;
    }
}