.form-elems__header {
    background: #FFFFFF;
    padding-top: 30px;
    padding-left: 30px;
}
.form-elems {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 62px 141px 132px;
}
.form-elems__left {
    max-width: 320px;
}
.form-elems__form-hover {
    margin: 20px 0;
}
.form-elems__date {
    margin: 22.56px 0 40px;
}
.form-elems__filter-date-dropdown {
    margin: 40px 0;
}

.form-elems__room-filter {
    margin: 100px 0 20px;
}

.form-elems__room-filter--show {
    .rooms-filter__body {
        display: block;
    }
}
.form-elems__checkbox-list {
    margin-top: 173px;
    margin-bottom: 20px;
}

.form-elems__checkbox-list-show {
    .checkbox-list__content {
        display: flex;
    }
    .checkbox-list__icon {
        position: relative;
    }
    .checkbox-list__icon::after {
        position: absolute;
        content: 'expand_less';
        background: #FFFFFF;
    }
    .checkbox-list__content:nth-child(3) .input-chbox__button,
    .checkbox-list__content:nth-child(4) .input-chbox__button,
    .checkbox-list__content:nth-child(5) .input-chbox__button {
        border-color: $purple;
        background: url('../block/input-chbox/icon/Vector.svg') no-repeat center center;
    }
}
.form-elems__room__info {
    margin-top: 40px;
}