.search-room {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-room__header {
    margin-bottom: 30px;
}

.search-room__main {
    box-sizing: border-box;
    padding: 0 140px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid $dark-shade--25;
}

.search-room__main {
    box-sizing: border-box;
    padding: 0 9.723%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid $dark-shade--25;
    @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
    }
}

.search-room__filter {
    display: flex;
    flex-direction: column;
    width: 266px;
    @media screen and (max-width: 650px) {
        display: none;
    }
}
.search-room__icon-wrap {
    display: none;
    width: 100%;
    @media screen and (max-width: 650px) {
        display: block;
    }
}
.search-room__icon--show {
    display: block;
}
.search__room-icon {
    font-size: 30px;
    color: $dark-shade--75;
}
.search-room__dropdown {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}
.search-room__chbox-btn {
    margin: 30px 0;
}
.search-room__rooms-filter {
    margin-top: 30px;
    margin-bottom: 15px;
}

.search-room__content {
    width: 100%;
    margin-left: 5.173%;
}
.search-room__title {
    font-family: $quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20.5px;
}

.search-room__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.search-room__card-room {
    margin-bottom: 20px;
}

.search-room__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
