mixin checkbox-button(...contents)
    .checkbox-button
        .checkbox-button__title Checkbox Buttons
        each content in contents
            .checkbox-button__content
                .checkbox-button__button
                span.checkbox-button__text= content
    
    