mixin feedback(...contents)
    .feedback
        for content in contents
            .feedback__autor
                img(src="../block/feedback/image/autor.png", alt="photo").feedback__image
                .feedback__name= content.name
                .feedback__data= content.data
            .feedback__content
                .feedback__like-btn
                    +like-btn
                .feedback__text= content.text