mixin pagination
    .pagination
        .pagination__title pagination
        .pagination__body
            .pagination__item.pagination__item--current 1
            .pagination__item 2
            .pagination__item 3
            .pagination__item ...
            .pagination__item 15
            .pagination__arrow
                i.material-icons arrow_forward
        .pagination__text 1 – 12 из 100+ вариантов аренды