form.data-dropdown-field
    label(for="date-dropdawn").field-title data Dropdown
    input(type="text", name="date-dropdawn", id="date-dropdawn" placeholder="ДД.ММ.ГГГГ").date-dropdawn
    i.material-icons.expand-more expand_more