.data-dropdown-field {
    position: relative;
    display: flex;
    flex-direction: column;
    .expand-more {
        position: absolute;
        left: 118px;
        top: 29.84px;
    }
}
.date-dropdawn {
    width: 150px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    text-transform: uppercase;
    padding-left: 15px;  
}
.field-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 5.44px;
}
