mixin footer-creative(text)
    footer.footer-creative
        .footer-creative__logo
            +logo
        .footer-creative__text= text
        .footer-creative__icons
            i(class="fab fa-twitter footer-creative__icon")
            i(class="fab fa-facebook-square footer-creative__icon")
            i(class="fab fa-instagram footer-creative__icon")