.landing-page__body {
    background: url('../block/landing-page/img/img1.png') no-repeat 0% 100%;
    background-size: cover;
    width: 100%;
    height: 830px;
    position: relative;
}

.landing-page__card {
    margin-left: 140px;
    padding-top: 70px;
    @media screen and (max-width: 720px) {
        margin: 0 auto;
    }
}

.landing-page__text{
    display: inline-block;
    width: 297px;
    @include text-body;
    text-align: right;
    position: absolute;
    bottom: 21px;
    right: 134px;
}