mixin landing-page
    .landing-page__body
        .landing-page__card
            +card-find-rooms({title: 'Найдём номера под ваши пожелания'})
        span.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения