.rooms-filter__body {
    display: none;
    width: 266px;
    height: 119px;
    border: 1px solid $dark-shade--50;
    box-sizing: border-box;
    border-top: none;
    padding: 6px 7px 7px 15px;
}