.checkbox-button__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 222px;
    margin-top: 10.56px;
    cursor: pointer;
    &:hover .checkbox-button__button {
        border-color: $purple;
    } 
}