@import '../block/range-slider/jquery-ui.structure.min.css';

.range-slider {
    width: 266px;
}

.range-slider__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.ui-slider {
    box-sizing: border-box;
    width: 266px;
    height: 6px;
    border: 1px solid $dark-shade--25;
    cursor: pointer;
    border-radius: 3px;
    .ui-slider-handle {
        width: 12px;
        height: 12px;
        border-radius: 10px;
        top: -6px;
        outline: none;
        user-select: none;
        cursor: pointer;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid white;
    }
    .ui-slider-range {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        height: 6px;
        top: -1px;
    }
}
.range-slider__title {
    @include text-h3;
    padding: 0;
    text-transform: uppercase;
}

.range-slider__value {
    border: none;
    font-size: $fsz--h3;
    font-family: $montserrat;
    color: $dark-shade--50;
    width: 102px;
}

.range-slider__text {
    display: inline-block;
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade--50;
    margin-top: 10.5px;
}
