.header__btns {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
        margin-bottom: 10px;;
    }
}

.header__btn {
    position: relative;
    z-index: 1000;
    button {
        height: 34px;
    }
}
.header__btn:first-child {
    margin-right: 20px;
}