mixin header(menu_items, buttons, login)
    header.header
        .header__logo
            +logo
        .header__menu
            +menu(menu_items)
        if login
            .header__user-name= login
        else
            .header__btns
                .header__btn
                    +button(buttons[0])(class="button button--empty")
                .header__btn
                    +button(buttons[1])(class="button")
