mixin like-btn
    .like-btn
        .checkbox-button__title like button
        form(action="/")
            input(type="checkbox", name="like-btn", id="like-btn" value="like").like-btn__input
            label(for="like-btn").like-btn__wrap
                i.material-icons.like-btn__icon favorite_border
                i.material-icons.like-btn__icon--liked favorite
                span.like-btn__count 12