.dropdown__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    background: transparent;
    border: none;
    color: $purple;
}
