@font-face {
	font-family: 'fa-brands';
	src: url('../fonts/webfonts/fa-brands-400.eot');
  src: local('☺'),
   url('../fonts/webfonts/fa-brands-400.woff') format('woff'),
    url('../fonts/webfonts/fa-brands-400.ttf') format('truetype'),
     url('../fonts/webfonts/fa-brands-400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.eot');
  src: local('☺'),
   url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
     url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('../fonts/Montserrat-SemiBold.eot');
  src: local('☺'),
   url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
     url('../fonts/Montserrat-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
  src: local('☺'),
   url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
     url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Bold.eot');
  src: local('☺'),
   url('../fonts/Quicksand-Bold.woff') format('woff'),
    url('../fonts/Quicksand-Bold.ttf') format('truetype'),
     url('../fonts/Quicksand-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand-reg';
	src: url('../fonts/Quicksand-Regular.eot');
  src: local('☺'),
   url('../fonts/Quicksand-Regular.woff') format('woff'),
    url('../fonts/Quicksand-Regular.ttf') format('truetype'),
     url('../fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.ttf');
  src: local('☺'),
   url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }