include ./variables

include ../block/checkbox-button/checkbox-button
include ../block/toggle/toggle
include ../block/rate-btn/rate-btn
include ../block/button/button
include ../block/link-icon/link-icon
include ../block/pagination/pagination
include ../block/rooms-filter/rooms-filter
include ../block/range-slider/range-slider
include ../block/checkbox-list/checkbox-list
include ../block/input-chbox/input-chbox
include ../block/title/title
include ../block/rich-chbox/rich-chbox
include ../block/bullet/bullet
include ../block/room-info/room-info
include ../block/feedback/feedback
include ../block/like-btn/like-btn
include ../block/card-title/card-title
include ../block/card-find-rooms/card-find-rooms
include ../block/form-date-dropdown/form-date-dropdown
include ../block/dropdown/dropdown
include ../block/card-reg/card-reg
include ../block/form/form
include ../block/radio-btn/radio-btn
include ../block/form-date/form-date
include ../block/card-room-order/card-room-order
include ../block/card-login/card-login
include ../block/card-foot/card-foot
include ../block/card-room/card-room
include ../block/rate/rate
include ../block/logo/logo
include ../block/header/header
include ../block/footer/footer
include ../block/footer-creative/footer-creative
include ../block/menu/menu
include ../block/form-subscrip/form-subscrip
include ../block/landing-page/landing-page
include ../block/form-filter-dropdown/form-filter-dropdown
include ../block/search-room/search-room
include ../block/room-detail/room-detail
include ../block/reg/reg
include ../block/colors-type/colors-type



