<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title TOXIN
    body
        include ../block/form/form
        include ../block/form-dropdown/form-dropdown
        include ../block/form-date/form-date
        include ../block/form-date-dropdown/form-date-dropdown
        include ../block/form-date-dropdown/form-date-dropdown
        include ../block/form-filter-dropdown/form-filter-dropdown
        include ../block/form-subscrip/form-subscrip
        include ../block/form-rooms-dropdown/form-rooms-dropdown
        include ../block/dropdown/dropdown
        script(src="../js/index.js")
               