<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
        //- link(rel="stylesheet", href="../jquery-ui-1.12.1/jquery-ui.min.css")
        title TOXIN
    body
        include ../layout/header/header
        .main-buttons BUTTONS
            include ../layout/buttons/button/button
            include ../layout/buttons/button-arrow/button-arrow
        include ../layout/form/text-field/text-field
        include ../layout/form/text-field/--date/text-field--date
        include ../layout/form/dropdown/dropdown
        include ../layout/form/data-dropdown/data-dropdawn
        //- script(src="../jquery-ui-1.12.1/jquery-ui.min.js")
        //- script(src="../../node_modules/air-datepicker/dist/js/datepicker.min.js")
        script(src="../../node_modules/jquery/dist/jquery.min.js")
        script(src="../js/index.js")
        script(src="../../node_modules/pikaday/pikaday.js")
        script(src="../../node_modules/pikaday/plugins/pikaday.jquery.js")
 
        