include ./includes

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title TOXIN
    body
        main
            .left
                +form('Email', 'text field')
                +form-date('date field')
                +date-dropdown('date dropdown')
                +date-dropdown('date dropdown')
                include ../block/form-filter-dropdown/form-filter-dropdown
                include ../block/form-subscrip/form-subscrip
                +rooms-filter
                +checkbox-list('expandable checkbox list', 'Завтрак',
                 "Письменный стол", "Кроватка", "Телевизор", "Шампунь")
                +room-info({icon: 'insert_emoticon', title: 'Комфорт', discrip: 'Шумопоглощающие стены'}, 
                {icon: 'location_city', title: 'Удобство', discrip: 'Окно в каждой из спален'})
                +card-find-rooms({title: 'Найдём номера под ваши пожелания'})
                +card-reg
            .center
                div
                    +checkbox-button('checkbox-buttons','Можно курить',
                    'Можно с питомцами',
                    'Можно пригласить гостей (до 10 человек)')
                div
                    +radio-btn('male', 'female', 'radio buttons')
                div
                    +toggle('toggle')
                div
                    +like-btn('like-btn', 'like buttnon')
                div
                    +rate-btn
                div
                    +dropdown('dropdown')
                div
                    +input-chbox('TEST')
                div
                    +title('test')
                div
                    +rich-chbox('rich Checkbox Buttons', {main: 'Широкий коридор',
                     discription: 'Ширина коридоров в номере не менее 91 см.'},
                    {main: 'Помощник для инвалидов',
                     discription: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
            .right
                div
                    +range-slider
                div Buttons
                    div
                        +button('click me')(class="button")
                        +button('click me')(class="button button--empty")
                    div
                        +link-icon('click me').link-icon
                        +link-icon('click me').link-icon.link-icon--grey
                    div
                        +button('перейти к оплате', 1).button.button--forward
                    div
                        +pagination
                    div
                        +bullet('bullet list', 'Нельзя с питомцами',
                         'Без вечеринок и мероприятия',
                          'Время прибытия — после 13:00, а выезд до 12:00')
            div
                +feedback({id: 'feedback__like-btn', img: '../block/feedback/image/autor3.png', name: 'Мурад Сарафанов', data: '5 дней назад',
                 text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
        script(src="../js/index.js")
               