include ./includes

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="../../node_modules/air-datepicker/dist/js/datepicker.min.js")
        title toxin
    body             
        +room-detail
        script(src="../block/room-detail/room-detail.js")