include ./includes

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="../../node_modules/air-datepicker/dist/js/datepicker.min.js")
        title toxin
    body
        svg(width='120', height='120', viewBox = " 0 0 120 120 ")
            ellipse(cx='60', cy='60.5' rx='60', ry='60.5', fill='#fff')
            ellipse(cx='60', cy='60.5' rx='58', ry='58.5', fill='transparent', stroke='#FFE39C', stroke-width='4')
            ellipse(cx='60', cy='60.5' rx='56', ry='56.5', fill='transparent',
             stroke='#BC9CFF', stroke-width='8', stroke-dasharray='86 274', stroke-dashoffset='90' )
            ellipse(cx='60', cy='60.5' rx='58', ry='58.5', fill='transparent',
             stroke='#6FCF97', stroke-width='4', stroke-dasharray='86 274', stroke-dashoffset='-4')
        +room-detail
        script(src="../block/room-detail/room-detail.js")