include ./includes

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../../node_modules/slick-carousel/slick/slick.css")
        script(src="../../node_modules/air-datepicker/dist/js/datepicker.min.js")
        link(rel="stylesheet", href="../scss/main.scss")
        title toxin
    body
        main
            +search-room
        script(src="../js/index.js")