-
    var menu_ui = [
        {
            name: 'Home',
            icon: ''
        },
        {
            name: 'About Us',
            icon: ''
        },
        {
            name: 'Services',
            icon: 'expand_more'
        },
        {
            name: 'Careers',
            icon: ''
        },
        {
            name: 'News',
            icon: ''
        },
        {
            name: 'Documentation',
            icon: ''
        }    
    ]

-
    var menu_page = [
        {
            name: 'О нас',
            icon: '',
            mod: 'menu__item--landing'
        },
        {
            name: 'Услуги',
            icon: 'expand_more',
            mod: 'menu__item--landing'
        },
        {
            name: 'Вакансии',
            icon: '',
            mod: 'menu__item--landing'
        },
        {
            name: 'Новости',
            icon: '',
            mod: 'menu__item--landing'
        },
        {
            name: 'Соглашения',
            icon: 'expand_more',
            mod: 'menu__item--landing'
        }   
    ]

- var buttons_ui = ['login', 'register']
- var buttons_page = ['войти', 'зарегистрироваться']

-
    var footer_items_ui = {text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
                nav_title: 'Navigation', nav: ['About Us', 'News', 'Support', 'Products'], 
                about_title: 'About Us', about: ['Who we are', 'Our team', 'Careers', 'Investors'],
                support_title: 'Support', support: ['Documentation', 'Community', 'Get in Touch'],
                subscrp: 'Subscribe to our newsletter',
                subscrp_text: 'Receive our latest news and promotions in your inbox!',
                cb_text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'}

-
    var footer_items_page = {text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                nav_title: 'навигация', nav: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], 
                about_title: 'О нас', about: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'],
                support_title: 'Служба поддержки', support: ['Соглашения', 'Сообщества', 'Связь с нами'],
                subscrp: 'Подписка',
                subscrp_text: 'Получайте специальные предложения и новости сервиса',
                cb_text: 'Copyright © 2018 Toxin отель. Все права защищены.'}
-
    var rooms_data1 = {img1: '../block/card-room/img/room-photo-1_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 888', type: 'люкс', price: '9 990₽',rating: 5, fb: 145}

-
    var rooms_data2 = {img1: '../block/card-room/img/room-photo-2_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 840', type: '', price: '9 990₽',rating: 4, fb: 65}

-
    var rooms_data3 = {img1: '../block/card-room/img/room-photo-3_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 980', type: 'люкс', price: '8 500₽',rating: 3, fb: 35}

-
    var rooms_data4 = {img1: '../block/card-room/img/room-photo-4_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 856', type: '', price: '7 300₽',rating: 5, fb: 19}

-
    var rooms_data5 = {img1: '../block/card-room/img/room-photo-5_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 740', type: '', price: '6 000₽',rating: 4, fb: 44}

-
    var rooms_data6 = {img1: '../block/card-room/img/room-photo-6_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 982', type: '', price: '5 800₽',rating: 3, fb: 56}

-
    var rooms_data7 = {img1: '../block/card-room/img/room-photo-7_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 678', type: '', price: '5 500₽',rating: 5, fb: 45}

-
    var rooms_data8 = {img1: '../block/card-room/img/room-photo-8_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 450', type: '', price: '5 300₽',rating: 4, fb: 39}

-
    var rooms_data9 = {img1: '../block/card-room/img/room-photo-2_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 350', type: '', price: '5 000₽',rating: 3, fb: 77}

-
    var rooms_data10 = {img1: '../block/card-room/img/room-photo-10_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 666', type: '', price: '5 000₽',rating: 5, fb: 25}  

-
    var rooms_data11 = {img1: '../block/card-room/img/room-photo-11_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 444', type: '', price: '5 000₽',rating: 3, fb: 15}

-
    var rooms_data12 = {img1: '../block/card-room/img/room-photo-12_1.png',
                img2: '../block/card-room/img/room-photo-1_2.png',
                img3: '../block/card-room/img/room-photo-1_3.png',
                img4: '../block/card-room/img/room-photo-1_4.png',
                number: '№ 352', type: '', price: '5 000₽',rating: 3, fb: 55}
                                                                