-
    var menu_ui = [
        {
            name: 'Home',
            icon: ''
        },
        {
            name: 'About Us',
            icon: ''
        },
        {
            name: 'Services',
            icon: 'expand_more'
        },
        {
            name: 'Careers',
            icon: ''
        },
        {
            name: 'News',
            icon: ''
        },
        {
            name: 'Documentation',
            icon: ''
        }    
    ]

-
    var menu_page = [
        {
            name: 'О нас',
            icon: ''
        },
        {
            name: 'Услуги',
            icon: 'expand_more'
        },
        {
            name: 'Вакансии',
            icon: ''
        },
        {
            name: 'Новости',
            icon: ''
        },
        {
            name: 'Соглашения',
            icon: 'expand_more'
        }   
    ]

- var buttons_ui = ['login', 'register']
- var buttons_page = ['войти', 'зарегистрироваться']

-
    var footer_items_ui = {text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
                nav_title: 'Navigation', nav: ['About Us', 'News', 'Support', 'Products'], 
                about_title: 'About Us', about: ['Who we are', 'Our team', 'Careers', 'Investors'],
                support_title: 'Support', support: ['Documentation', 'Community', 'Get in Touch'],
                subscrp: 'Subscribe to our newsletter',
                subscrp_text: 'Receive our latest news and promotions in your inbox!',
                cb_text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'}

-
    var footer_items_page = {text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                nav_title: 'навигация', nav: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], 
                about_title: 'О нас', about: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'],
                support_title: 'Служба поддержки', support: ['Соглашения', 'Сообщества', 'Связь с нами'],
                subscrp: 'Подписка',
                subscrp_text: 'Получайте специальные предложения и новости сервиса',
                cb_text: 'Copyright © 2018 Toxin отель. Все права защищены.'}