mixin button(name, forward)
    if forward
        form(action=".")
            button(class!=attributes.class)= name
                .button__arrow
                    i.material-icons arrow_forward
    else
        form(action=".")
            button(class!=attributes.class)
                span.button__text= name
