.datepicker--cells-days {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    color: $dark-shade--25;
    .-current- {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 22px;
        color: #FFFFFF;
        font-weight: bold;
        &:hover {
            color: #FFFFFF;
        }
    }
    .-selected- {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        &:hover {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
    }
}

