.datepicker {
    width: 320px;
    background: #FFFFFF;
    border: 1px solid $dark-shade--25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    padding: 20px;
    padding-top: 16px;
    padding-right: 19px;
    z-index: 1000000;
}
//календарь
.datepicker--content {
    padding: 0;
}
.datepicker--cells{
    width: 279.4px;
}
//шапка
.datepicker--nav {
    border: none;
    margin-bottom: 37px;
    padding: 0;

}
//стрелки
.datepicker--nav-action {
    font-size: 24px;
    line-height: 20px;
    color: $purple;
    width: auto;
    height: auto;
}
//дни недели
.datepicker--days-names {
    @include text-h3;
    flex-wrap: nowrap;
    width: 279.13px;
    margin-bottom: 11px;
}
//ячейки
.datepicker--cell-day {
    height: 40px;
    width: 39.88px;
    cursor: pointer;
}
//кнопки
.datepicker--buttons {
    border: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.datepicker--button {
    @include text-h3;
    color: $dark-shade--50;
    text-transform: uppercase;
    height: 15px;
    flex: none;
    &:hover {
        background: #FFFFFF;
        color: $dark-shade--50;
    }
}
.-apply- {
    color: $purple;
    &:hover {
        color: $purple;
    }
}
 //точка
 .datepicker--pointer {
     display: none;
 }
//диапазон
.datepicker--cell.-in-range- {
    background: rgb(188, 156, 255, .25);
    color: $dark-shade--50;
    &:hover {
        border-radius: 0px;
        background: rgb(188, 156, 255, .25);
    }
 }

.datepicker--cell {
    position: relative;
    &:hover {
        border-radius: 22px;
    }
}
.datepicker--cell.-range-from-::before {
    content: '';
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    position: absolute;
    left: 18px;
    width: 22px;
    height: 40px;
 }
 .datepicker--cell.-range-to-::before {
    content: '';
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    position: absolute;
    left: 0px;
    width: 20px;
    height: 40px;
 }

 .datepicker--cell.-current-.-in-range- {
    background: rgb(188, 156, 255, .25);
    color: $dark-shade--50;
    border-radius: 0px;
 }

.datepicker-inline {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 70px;
}