.datepicker {
    width: 320px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid $dark-shade--25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    padding: 20px 0;
}
//шапка
.datepicker--nav {
    border: none;
    margin-bottom: 30px;
}
//стрелки
.datepicker--nav-action {
    font-size: 24px;
    line-height: 20px;
    color: $purple;
}
//ячейки
.datepicker--cell-day {

}