.datepicker--nav-title, .datepicker--nav-title  i {
    font-family: $quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $dark-shade--100;
    text-transform: capitalize;
}