.datepicker--day-name {
    font-family: $montserrat--bold;
    color: $purple;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    width: 39.88px;
    max-width: 39.88px;
    min-width: 39.88px;
}