.dropdown-expand {
    width: 320px;
    height: 203px;
    display: flex;
    flex-direction: column;
    border: 1px solid $dark-shade--50;
    border-radius: 4px;
}

@import './__header/dropdown-expand__header.scss';
@import './__line/dropdown-expand__line.scss';
@import './__button/dropdown-expand__button.scss';