mixin dropdown-expand(selected,filter)
    if(selected)
        .dropdown-expand
            .dropdown-expand__header Сколько гостей
            include ./__line/dropdown-expand__line
            .dropdown-expand-button-position.dropdown-expand__button--selected
                button.dropdown-expand__button.dropdown-expand__button-clear очистить
                button.dropdown-expand__button применить
    else if(filter)
        .dropdown-expand
            .dropdown-expand__header 2 спальни, 2 кровати...
            include ./__line/dropdown-expand__line
    else 
        .dropdown-expand
            .dropdown-expand__header Сколько гостей
            include ./__line/dropdown-expand__line
            .dropdown-expand-button-position
                button.dropdown-expand__button применить

