mixin toggle(id, title)
    .toggle
        .checkbox-button__title= title 
        form
            input(type="checkbox", id=id, name="toggle", value="subscribe").toggle__input
            label(for=id).toggle__text Получать спецпредложения
