mixin toggle
    .toggle
        .checkbox-button__title toggle 
        form(action="/")
            input(type="checkbox", id="toggle", name="toggle", value="subscribe").toggle__input
            label(for="toggle").toggle__text Получать спецпредложения
        
