mixin rate(rate)
    .rate
        case rate
            when 0
                .rate__star
                .rate__star
                .rate__star
                .rate__star
                .rate__star
            when 1
                .rate__star.rate__star--full
                .rate__star
                .rate__star
                .rate__star
                .rate__star
            when 2
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star
                .rate__star
                .rate__star
            when 3
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star
                .rate__star
            when 4
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star
            when 5
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star.rate__star--full
                .rate__star.rate__star--full

    