@import './__star/rate-btn__star.scss';

.rate-btn__wrap {
    display: flex;
    width: 120px;
    justify-content: space-between;
    cursor: pointer;
    &:hover  {
        .rate-btn__star:before {
            display: none;
        }
        .rate-btn__star:after {
            display: block;
        }
    }
}

.rate-btn {
   
}
