mixin rate-btn
    .rate-btn
        .checkbox-button__title rate button
        .rate-btn__wrap
            .rate-btn__star
            .rate-btn__star
            .rate-btn__star
            .rate-btn__star
            .rate-btn__star