mixin rate-btn
    .rate-btn
        .checkbox-button__title rate button
        .rate-btn__wrap
            .rate-btn__star#star1
            .rate-btn__star#star2
            .rate-btn__star#star3
            .rate-btn__star#star4
            .rate-btn__star#star5