mixin dropdown__body-item(name)
    .dropdown__body-item
        span= name
        .dropdown__select
            .dropdown__select-button.minus -
            .dropdown__value 0
            .dropdown__select-button.plus +
mixin dropdown(title, body)
    .form(class!=attributes.class)
        .form__title= title
        .dropdown__wrapper
            .form__field.dropdown__header
                span.dropdown__header-text Сколько гостей
                i.material-icons.dropdown__header-icon expand_more
            .dropdown__body(class=body)
                +dropdown__body-item('взрослые')
                +dropdown__body-item('дети')
                +dropdown__body-item('младенцы')
                .dropdown__buttons
                    button.dropdown__button.dropdown__button--clear очистить
                    button.dropdown__button.dropdown__button--accept применить
