include ./dropdown-expand/dropdown-expand
.dropdown
    .dropdown__label dropdown
    +dropdown-expand(0, 0)
.dropdown
    .dropdown__label dropdown
    +dropdown-expand(1, 0)
.dropdown
    .dropdown__label dropdown
    +dropdown-expand(0, 1)
