.rich-chbox__discription {
    width: 236px;
    font-size: $fsz--h3;
    font-family: $montserrat;
    line-height: 14px;
    color: $dark-shade--50;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-right: 10px;
    box-sizing: border-box;
}
.rich-chbox__discription:nth-child(2) {
    padding-right: 40px;
}