.dropdown-expand__line {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 7px 7px 0 15px;
    justify-content: space-between;
    font-family: $montserrat--bold;
    font-size: $fsz--h3;
    color: $dark-shade--100;
    text-transform: uppercase;
}
.dropdown-line-select {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-line-select-icon {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $dark-shade--25;
    border-radius: 50%;
    font-family: $montserrat;
    font-size: 18px;
    color: $dark-shade--50;
    text-transform: uppercase;
    cursor: pointer;
}
