@import '../fonts/fonts.scss';
@import './var.scss';

@import '../block/form/form.scss';
@import '../block/form/__field/form__field.scss';

@import '../block/form-date/form-date.scss';
@import '../block/form-date-dropdown/form-date-dropdown.scss';
@import '../block/form-filter-dropdown/form-filter-dropdown.scss';
@import '../block/form-subscrip/form-subscrip.scss';
@import '../block/form-rooms-dropdown/form-rooms-dropdown.scss';
@import '../block/dropdown/dropdown.scss';

@import '../block/checkbox-button/checkbox-button.scss';
@import '../block/radio-btn/radio-btn.scss';
@import '../block/toggle/toggle.scss';
@import '../block/like-btn/like-btn.scss';
@import '../block/rate-btn/rate-btn.scss';
@import '../block/range-slider/range-slider.scss';

@import '../block/button/button.scss';
@import '../block/link-icon/link-icon.scss';

main {
    display: flex;
    .left, .center, .right {
        min-width: 350px;
        max-width: 30%;
    }
    flex-wrap: wrap;
}