/*COLORS*/
$dark-shade--100:#1F2041;
$dark-shade--75: rgba(31, 32, 65, 0.75);
$dark-shade--50: rgba(31, 32, 65, 0.5);
$dark-shade--25: rgba(31, 32, 65, 0.25);
$dark-shade--5:  rgba(31, 32, 65, 0.05);
$purple:         #BC9CFF;
$green:          #6FCF97;
/*FONT-SIZE*/
$fsz--body: 14px;
$fsz--h1:   24px;
$fsz--h2:   19px;
$fsz--h3:   12px;
/*FAMILIES*/
$montserrat: 'Montserrat', sans-serif;
$montserrat--bold: 'Montserrat Bold', sans-serif;
$quicksand: 'Quicksand', 'OpenSans', sans-serif;
/*MIXINS*/
@mixin text-body {
    font-family: $montserrat;
    font-size: $fsz--body;
    line-height: 24px;
    color: $dark-shade--75;
}
@mixin text-h3 {
    font-family: $montserrat--bold;
    font-size: $fsz--h3;
    line-height: 15px;
    color: $dark-shade--100;
}
@mixin text-h2 {
    font-family: $quicksand;
    font-size: $fsz--h2;
    line-height: 24px;
    color: $dark-shade--100;
}
@mixin text-h1 {
    font-family: $quicksand;
    font-size: $fsz--h1;
    line-height: 30px;
    color: $dark-shade--100;
}

@mixin card {
    width: 380px;
    padding: 40px 30px 30px 30px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
