mixin card-room
    .card-room
        .card-room__photos
            .card-room__photo
                img(src="../block/card-room/img/room-photo-1.png", alt="photo")
            .card-room__photo
                img(src="../block/card-room/img/room-photo-2.png", alt="photo")
            