.radio-btn
    .checkbox-button__title Radio Buttons
    form(action="/")
        input(type="radio", name="sex", value="male" id="radio-male").radio-btn__input
        label(for="radio-male").radio-btn__text Мужчина
        input(type="radio", name="sex", value="female" id="radio-female").radio-btn__input
        label(for="radio-female").radio-btn__text Женщина