mixin menu(items)
    nav
        ul.menu
            each item in items
                li.menu__li
                    a(href="/").menu__item= item.name
                        i.material-icons.menu__item-icon= item.icon