@import './menu__item.scss';
@import './menu--active.scss';

.menu {
    box-sizing: border-box;
    display: flex;    
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu__wrap {
    width: 100%;
    @media screen and (max-width: 920px) {
        display: none;
    }
}

.menu__wrap--show {
    display: block;
}
.menu--mobile {
    a {color: $dark-shade--100;
    margin-bottom: 10px;}
    flex-direction: column;
    
}