.headers-footers__header {
    padding-top: 30px;
    padding-left: 30px;
}
.headers-footers {
    background-color: #E5E5E5;
}
.headers-footers__standart {
    margin: 72px 0 40px;
}
.headers-footers__footer {
    margin: 40px 0;
}
.headers-footers__footer-creative {
    margin-bottom: 130px;
}