mixin item(link,name)
        li
            a(href=link).main-menu__item=name

ul.main-menu
        +item('#', 'Home')
        +item('#', 'About Us')
        +item('#', 'Services')
        +item('#', 'Careers')
        +item('#', 'News')
        +item('#', 'Documentation')
        