.title {
    font-family: $montserrat--bold;
    font-style: normal;
    font-size: $fsz--h3;
    line-height: 15px;
    color: $dark-shade--100;
    text-transform: uppercase;
    margin-bottom: 16px;
}